@model LockLab.Models.Lockylock

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lockylock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Picked)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Picked)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickedTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickedTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SecurityPins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SecurityPins)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
